<!DOCTYPE html>
<html>
<body>
  <style>
    .container {
     background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxrTmMsmK24DDPiKeND9zoZRbcUi2VkTF0WgBK9qnWGlawG947Uv7S4wG_nx0rNjcBT5k&usqp=CAU");
     
     
     background-repeat:no-repeat ;
     margin-left: 10%;
     background-color: plum;
   }
   </style>
 <div class="container">
<div class="jumbotron text-center" >
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>keepShopping</strong> </p>
   
    
    <p>
      Having trouble? <a href="https://bootstrapcreative.com/">Contact us</a>
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-sm" href="https://bootstrapcreative.com/" role="button">Continue to homepage</a>
    </p>
    <p class="lead">
        <a class="btn btn-danger btn-sm" href="https://bootstrapcreative.com/" role="button">Exit</a>
      </p>
  </div>
</div>
</body>
  </html>

  
