<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   
</head>
<body>
  <style>
   .container {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSk84whOOW67OooU4BTn0McDOqkhkkZybAY-w&usqp=CAU");
    
    background-color: #cccccc;
    background-repeat:no-repeat ;
    margin-left: 10%;
  }
  </style>

<div class="container">
  <h1 class="heading">payment</h1><br><br><br>



  <p class="subhead">Please select your payment option:</p>
<!--   <input type="radio" id="cash" value="cash" [(ngModel)]="type">
  <label for="cash"  >Cash on delivery</label><br>
  <input type="radio" id="card" value="card" [(ngModel)]="type">
  <label for="card"  [(ngModel)]="type">credit/debit</label><br> -->

<select  class="main" name="demo" id="#" [(ngModel)]="type">
  <option selected="selected" value="cash">CASH</option><br>
  <option value="card">CARD</option>
 
  </select><br><br><br><br>
<button class="button" (click)="payment(type)" class="form-control"  class="btn btn-info">submit</button>


